.grid {
  display: grid;

  &-cols {
    &-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    &-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    &-5 {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    &-6 {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    &-7 {
      grid-template-columns: repeat(7, minmax(0, 1fr));
    }

    &-8 {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    &-9 {
      grid-template-columns: repeat(9, minmax(0, 1fr));
    }

    &-10 {
      grid-template-columns: repeat(10, minmax(0, 1fr));
    }

    &-11 {
      grid-template-columns: repeat(11, minmax(0, 1fr));
    }

    &-12 {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    &-none {
      grid-template-columns: none;
    }
  }

  .col {
    &-auto {
      grid-column: auto;
    }

    &-span {
      &-1 {
        grid-column: span 1 / span 1;
      }

      &-2 {
        grid-column: span 2 / span 2;
      }

      &-3 {
        grid-column: span 3 / span 3;
      }

      &-4 {
        grid-column: span 4 / span 4;
      }

      &-5 {
        grid-column: span 5 / span 5;
      }

      &-6 {
        grid-column: span 6 / span 6;
      }

      &-7 {
        grid-column: span 7 / span 7;
      }

      &-8 {
        grid-column: span 8 / span 8;
      }

      &-9 {
        grid-column: span 9 / span 9;
      }

      &-10 {
        grid-column: span 10 / span 10;
      }

      &-11 {
        grid-column: span 11 / span 11;
      }

      &-12 {
        grid-column: span 12 / span 12;
      }

      &-full {
        grid-column: 1 / -1;
      }
    }
    &-start {
      &-1 {
        grid-column-start: 1;
      }

      &-2 {
        grid-column-start: 2;
      }

      &-3 {
        grid-column-start: 3;
      }

      &-4 {
        grid-column-start: 4;
      }

      &-5 {
        grid-column-start: 5;
      }

      &-6 {
        grid-column-start: 6;
      }

      &-7 {
        grid-column-start: 7;
      }

      &-8 {
        grid-column-start: 8;
      }

      &-9 {
        grid-column-start: 9;
      }

      &-10 {
        grid-column-start: 10;
      }

      &-11 {
        grid-column-start: 11;
      }

      &-12 {
        grid-column-start: 12;
      }

      &-13 {
        grid-column-start: 13;
      }

      &-auto {
        grid-column-start: auto;
      }
    }

    &-end {
      &-1 {
        grid-column-end: 1;
      }

      &-2 {
        grid-column-end: 2;
      }

      &-3 {
        grid-column-end: 3;
      }

      &-4 {
        grid-column-end: 4;
      }

      &-5 {
        grid-column-end: 5;
      }

      &-6 {
        grid-column-end: 6;
      }

      &-7 {
        grid-column-end: 7;
      }

      &-8 {
        grid-column-end: 8;
      }

      &-9 {
        grid-column-end: 9;
      }

      &-10 {
        grid-column-end: 10;
      }

      &-11 {
        grid-column-end: 11;
      }

      &-12 {
        grid-column-end: 12;
      }

      &-13 {
        grid-column-end: 13;
      }

      &-auto {
        grid-column-end: auto;
      }
    }
  }


  &-rows {
    &-1 {
      grid-template-rows: repeat(1, minmax(0, 1fr));
    }

    &-2 {
      grid-template-rows: repeat(2, minmax(0, 2fr));
    }

    &-3 {
      grid-template-rows: repeat(3, minmax(0, 3fr));
    }

    &-4 {
      grid-template-rows: repeat(4, minmax(0, 4fr));
    }

    &-5 {
      grid-template-rows: repeat(5, minmax(0, 5fr));
    }

    &-6 {
      grid-template-rows: repeat(6, minmax(0, 6fr));
    }

    &-none {
      grid-template-rows: none;
    }
  }

  &-row {
    &-span {
      &-1 {
        grid-row: span 1 / span 1;
      }

      &-2 {
        grid-row: span 2 / span 2;
      }

      &-3 {
        grid-row: span 3 / span 3;
      }

      &-4 {
        grid-row: span 4 / span 4;
      }

      &-5 {
        grid-row: span 5 / span 5;
      }

      &-6 {
        grid-row: span 6 / span 6;
      }

      &-full {
        grid-row: 1 / -1;
      }
    }

    &-start {
      &-1 {
        grid-row-start: 1;
      }

      &-2 {
        grid-row-start: 2;
      }

      &-3 {
        grid-row-start: 3;
      }

      &-4 {
        grid-row-start: 4;
      }

      &-5 {
        grid-row-start: 5;
      }

      &-6 {
        grid-row-start: 6;
      }

      &-7 {
        grid-row-start: 7;
      }

      &-auto {
        grid-row-start: auto;
      }
    }

    &-end {
      &-1 {
        grid-row-end: 1;
      }

      &-2 {
        grid-row-end: 2;
      }

      &-3 {
        grid-row-end: 3;
      }

      &-4 {
        grid-row-end: 4;
      }

      &-5 {
        grid-row-end: 5;
      }

      &-6 {
        grid-row-end: 6;
      }

      &-7 {
        grid-row-end: 7;
      }

      &-auto {
        grid-row-end: auto;
      }
    }
    &-auto {
      grid-row: auto;
    }
  }

  &-flow {
    &-row {
      grid-auto-flow: row;

      &-dense {
        grid-auto-flow: row dense;
      }
    }

    &-col {
      grid-auto-flow: column;

      &-dense {
        grid-auto-flow: column dense;
      }
    }

    &-dense {
      grid-auto-flow: dense;
    }
  }

  &.auto {
    &-cols {
      &-auto {
        grid-auto-columns: auto;
      }
      &-min {
        grid-auto-columns: min-content;
      }
      &-max {
        grid-auto-columns: max-content;
      }
      &-fr {
        grid-auto-columns: minmax(0, 1fr);
      }
    }

    &-rows {
      &-auto {
        grid-auto-rows: auto;
      }
      &-min {
        grid-auto-rows: min-content;
      }
      &-max {
        grid-auto-rows: max-content;
      }
      &-fr {
        grid-auto-rows: minmax(0, 1fr);
      }
    }
  }

}
